/* General Style */
*, *::after, *::before
{
    overscroll-behavior: none;
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: "Cormorant Upright", serif;
    font-weight: 400;
    font-style: normal;
}
h1, h2{font-family:"Kaushan Script", cursive;}

/* header */
#pageheader
{
    position:fixed;
    top:0;
    left:0;
    right:0;
    min-height:90px;
    background-color:rgba(0, 0, 0, .5);
    backdrop-filter:blur(5px);
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    font-family:"Kaushan Script", cursive;
    flex-wrap:wrap;
    z-index:999;
    border-bottom:2px solid #f2efea;
}
#title{flex-basis:50%;}
#pageheader a{display:inline-block;}
#pageheader h1
{
    font-size: 2.3rem;
    color:#f2efea;
    text-align:center;
    white-space:nowrap;
}
#links
{
    display: flex;
    gap:5%;
    justify-content:center;
    flex-basis:100%;
}
#links a{font-size:1.5rem;}
a
{
    color:#f2efea;
    text-decoration:none;
}
a:hover
{
    color:rgb(241, 234, 234);
    transition:all .1s;
}
a:active{color: #7D2B2B;}
/* background */
#background
{
    width:100%;
    height:100vh;
    background-image:url(Images/hero.webp);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:scroll;
}
/* About */
#about{
    background: #1E2626;
    background: linear-gradient(
    180deg,
    #0E0E0E 0%,
    #232323 100%
    );
    scroll-margin-top:90px;
    min-height:calc(100vh - 90px);
}
#aboutCon{max-width:1200px;}
#logo
{
    display:block;
    margin:auto;
    width:80%;
    max-width:500px;
}
#about h2
{
    color:#f2efea;
    padding:1rem;
    font-size:2.3rem;
    text-align:center;
}
#about p
{
    color:#f2efea;
    font-size:1.1rem;
    margin:.5rem 2rem;
}
/* Concepts */
#concepts
{
    background-image:url(Images/background2.webp);
    background-attachment:scroll;
    background-size:cover;
    min-height:calc(100vh - 90px);
    /* padding-bottom: 2rem; */
    scroll-margin-top:90px;
    overflow-y:auto;
    overscroll-behavior:auto;
}
#concepts h2
{
    color:#f2efea;
    font-size:2.3rem;
    text-align:center;
    padding-top:1rem;
}
#ccbox
{
    display:flex;
    justify-content:space-evenly;
    margin:1rem;
    flex-wrap:wrap;
}
.conceptCard
{
    color:#f2efea;
    font-size:2rem;
    flex-basis:30%;
    min-width:300px;
    border:2px solid #f2efea;
    background-color:rgba(0, 0, 0, .8);
    padding:1rem;
    margin-bottom:1rem;
    text-align:center;
    transform: scale(1);
    transition: transform 0.25s ease, background-color 0.25s ease;
}
.conceptCard h3
{
    font-size:1.8rem;
}
.conceptCard img
{
    height:40px;
}
.hide-card {
    display: none;
}

.conceptCard:hover:not(.active) {
    cursor: pointer;
    background-color: rgba(22, 22, 22, 0.9);
    transform: scale(1.05);
}

.conceptCard.active {
    transform: scale(1.1);
    background-color: rgba(38, 37, 37, 0.9);
    cursor: pointer;
}
#corruption, #rebellion, #heaven{transition:all .8s;}
#conceptInfoCon {
    position: relative;
    width: 100%;
    min-height: 150px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#conceptInfo {
    color: #f2efea;
    font-size: 1.2rem;
    border: 1px solid #f2efea;
    width: 90%;
    max-width:1000px;
    min-height: 200px;
    padding:1rem;
    position: absolute;
    top:10px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(22, 22, 22, 0.9);
    transform: translateX(-100vw);
    opacity: 0;
}
.concept
{
    animation-name: concept;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes concept
{
    100%
    {
        visibility: visible;
        margin:auto;
        left:0;
        right:0;
        
    }
}
.concept-show {
    animation: slideIn 0.5s ease forwards;
}
.concept-hide {
    animation: slideOut 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100vw);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100vw);
        opacity: 0;
    }
}
/* Visuals */
#visuals
{
    background: #1E2626;
    background: linear-gradient(
    180deg,
    #0E0E0E 0%,
    #232323 100%
    );
    scroll-margin-top:90px;
    padding:0 1rem;
    min-height:calc(100vh - 90px);
}
#visuals h2
{
    color:#f2efea;
    text-align:center;
    font-size:2.3rem;
}
.slideshow {
    position: relative;
    max-width:1000px;
    width: 100%;
    margin: 1rem auto;
}

.slide {
    display: none;
    text-align: left;
}
#visualsCon{padding:0; margin:0; margin: auto;}
.slide img {
    width: 100%;
    aspect-ratio:1/.75;
}

.caption {
    margin-top: 10px;
    font-size: 1.3rem;
    color:#f2efea;
    width:100%;
    max-width:1000px;
    margin:auto;
}

.slide.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: #f2efea;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
    background: rgba(0,0,0,0.8);
}
/* Conclusion */
#conclusion
{
    min-height:calc(100vh - 90px);
    background: #1E2626;
    background: linear-gradient(180deg, #232323 0%, #0E0E0E 100%);
    scroll-margin-top:90px;
}
#conclusionCon{max-width:1200px;}
#conclusion h2
{
    color:#f2efea;
    font-size:2.3rem;
    text-align:center;
    padding:1rem;
}
#conclusion p
{
    color:#f2efea;
    font-size:1.1rem;
    margin:.5rem 2rem;
}
#creator{padding-bottom:1rem;}
#creator, #creator img
{
    width:90%;
    max-width:600px;
    margin:auto;
    display:block;
}
#creator figcaption
{
    color:#f2efea;
    text-align:center;
    font-style:italic;
}
/* Footer */
footer
{
    padding:1rem;
}
#footerText
{
    list-style-type:none;
    display:flex;
    justify-content:center;
    gap:1rem;
    font-family: "Cormorant Upright", serif;
    font-weight: 400;
    font-style: normal;
    font-size:1rem;
}
#footerText a
{
    color:black;
    text-decoration:none;
}
#footerText a:hover{color: #7D2B2B;}
footer p
{
    text-align:center;
    font-size:1rem;
}

/* Classes */
.container
{
    width:100%;
    margin:auto;
    max-width:1400px;
    padding:2rem .5rem;
}

/* Media Queries */
@media screen and (min-width:780px)
{
    #links{flex-basis:50%;}    
    .container{width:85%;}
    #visualsCon{padding:2rem .5rem;}
    #concepts{background-attachment: fixed;}
    #conceptInfo{font-size:1.5rem;}
    #conceptCard h3{font-size:2rem;}
    #visuals h2, #concepts h2, #about h2, #conclusion h2{font-size:3rem;}
    #pageheader h1{font-size:2.5rem;}
    .slide img{aspect-ratio:1/.5;}
    #background{background-attachment: fixed;}
    #footerText, footer p, #about p, #conclusion p{font-size:1.3rem;}

}
@media screen and (min-width:1000px)
{
    #logo{width:70%;}
    #creator{padding-left:1rem; width:60%;}
    #creator img{width:100%;}
    .floatRight
    {
        float:right;
        clear:both;
        padding-left:1rem;
        padding-bottom:1rem;
    }
    .floatLeft
    {
        float:left;
        clear:both;
        padding-right:1rem;
        padding-bottom:1rem;
    }
}
@media screen and (min-width:1000px) {
    .conceptCard.hide-card {display: none;}
    .conceptCard img
{
    height: 80px;
}
}